/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin-top: 0;
}

.modal-form .form-group {
    margin-bottom: 15px;
}

.modal-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .form-group input,
.modal-form .form-group select {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.client-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.client-name input {
    flex-grow: 1;
    margin-right: 10px;
}

.client-name button {
    margin-left: 5px;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.order-item input {
    flex-grow: 1;
    margin-right: 10px;
}

.order-item span {
    margin-right: 10px;
}
/* Modal.css */
.notification {
    background-color: #4caf50; /* Verde para sucesso */
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.notification.error {
    background-color: #f44336; /* Vermelho para erro */
}
