/* Settings.css */

.containerSettings {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do container */
  }
  
  .buttonGroup {
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
  }
  
  .buttonSettings {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0; /* Espaçamento entre os botões */
    width: 80%; /* Largura dos botões */
    max-width: 300px; /* Limita a largura máxima dos botões */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    margin-bottom: 15px;
    width: 80%; /* Largura dos grupos de formulário */
    max-width: 300px; /* Limita a largura máxima dos inputs */
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left; /* Alinha o texto do label à esquerda */
    width: 100%;
  }
  
  .input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%; /* Largura dos campos de entrada */
  }
  
  .links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .linkButton {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  