/* CreateTablePage.css */
.create-table-page {
    padding: 20px;
    background-color: #f8f8f8;
    height: 100vh;
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.create-table-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.client-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.client-name input {
    flex: 1;
    margin-right: 10px;
}

.client-name button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.client-name button:hover {
    background-color: #e65c00;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #e65c00;
}

.clear-form {
    background-color: #999;
}

.clear-form:hover {
    background-color: #777;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.table-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.table-card.active {
    transform: scale(1.05);
    border: 2px solid #ff6600; /* Destaque para a mesa ativa */
}

.table-details button {
    padding: 8px 12px;
    margin: 5px 5px;  /* Adiciona margem entre os botões */
    font-size: 14px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.table-details button:hover {
    background-color: #e65c00;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header h2 {
    margin: 0;
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.status.available {
    background-color: green;
}

.status.unavailable {
    background-color: red;
}

.arrow {
    font-size: 20px;
    transition: transform 0.3s;
}

.arrow.down {
    transform: rotate(90deg);
}

.arrow.right {
    transform: rotate(0deg);
}

.table-details {
    margin-top: 10px;
}

.table-card ul {
    list-style-type: none;
    padding: 0;
}
.add-table-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.add-table-button:hover {
    background-color: #218838;
}

.notification {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
